.container {
  width: 500px;
  margin: 10px auto;

  border: 1px solid black;
  background-color: whitesmoke;

  /*border-radius: 4px;*/
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnFeedback {
  width: 150px;
  padding: 5px 5px;

  border: 1px solid rgb(197, 194, 194);
  border-radius: 10px;

  transition: background-color 500ms;
  text-transform: capitalize;

  cursor: pointer;
}

.btnList:not(:last-child) {
  margin-right: 10px;
}

.btnFeedback:hover {
  color: white;
  background-color: black;
  border-color: black;
}
